@mixin code-block() {
  background: $highlight-background;
  border-style: solid;
  border-color: $color-border;
  border-width: 0px;
  overflow: auto;
  padding: $article-padding;
  color: $highlight-foreground;
  line-height: $line-height;
  margin: $article-padding 0px;
}
@mixin line-numbers() {
  color: #666;
  font-size: 0.85em;
}
