@use "variables";

@mixin code-block() {
  background: variables.$highlight-background;
  border-style: solid;
  border-color: variables.$color-border;
  border-width: 0px;
  overflow: auto;
  padding: variables.$article-padding;
  color: variables.$highlight-foreground;
  line-height: variables.$line-height;
  margin: variables.$article-padding 0px;
}
@mixin line-numbers() {
  color: #666;
  font-size: 0.85em;
}
