// other
$spacer: 1rem !default;
$body-bg: #fff !default;
$black:  #000 !default;

// gray
$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$gray-200: #e9ecef !default;

$hr-border: $gray-lighter !default;

// state
$state-success-bg:               #dff0d8 !default;
$state-success-text:             #3c763d !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-text:                #31708f !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-text:             #8a6d3b !default;
$state-danger-bg:                #f2dede !default;
$state-danger-text:              #a94442 !default;

// border
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-width: 1px !default;
$abbr-border-color: $gray-light !default;

// lg
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// md
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// sm
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-sm-max: ($screen-md-min - 1) !default;

// xs
$xs-max-width: 768px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;

// grid
$grid-gutter-width: 30px !default;
$grid-columns: 12 !default;
$grid-float-breakpoint: $screen-sm-min !default;

// container
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

// brand
$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

// label
$label-color: #fff !default;
$label-link-hover-color: #fff !default;
$label-default-bg: $gray-light !default;
$label-primary-bg: $brand-primary !default;
$label-success-bg: $brand-success !default;
$label-info-bg: $brand-info !default;
$label-warning-bg: $brand-warning !default;
$label-danger-bg: $brand-danger !default;

// font
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 14px !default;
$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

// headings
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
$headings-small-color: $gray-light !default;

// line
$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

// text
$text-color: $gray-dark !default;
$text-muted: $gray-light !default;

// link
$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// thumbnail
$thumbnail-padding: 4px !default;
//** Thumbnail background color
$thumbnail-bg: $body-bg !default;
//** Thumbnail border color
$thumbnail-border: #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius: $border-radius-base !default;

// table
$table-bg:                      transparent !default;
$table-hover-bg:                rgba($black,.075) !default;
$table-cell-padding:            .75rem !default;
$table-border-width:            $border-width !default;
$table-accent-bg:               rgba($black,.05) !default;
$table-border-color:            $gray-200 !default;

// page
$page-header-border-color: $gray-lighter !default;

// horizontal
$component-offset-horizontal: 180px !default;
$dl-horizontal-breakpoint: $grid-float-breakpoint !default;
$dl-horizontal-offset: $component-offset-horizontal !default;

// blockquote
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-small-color: $gray-light !default;

// _highlight.scss
$highlight-background: #2d2d2d;
$highlight-current-line: #393939;
$highlight-selection: #515151;
$highlight-foreground: #cccccc;
$highlight-comment: #999999;
$highlight-red: #f2777a;
$highlight-orange: #f99157;
$highlight-yellow: #ffcc66;
$highlight-green: #99cc99;
$highlight-aqua: #66cccc;
$highlight-blue: #6699cc;
$highlight-purple: #cc99cc;

$article-padding: 15px;
$color-border: #ddd;
$color-link: #258fb8;
$color-background: #eee;
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$line-height: 22.4px;

// font hannah
$fh-font-path: "../../fonts" !default;

$fh-document: "\e91c";
$fh-plug: "\e91d";
$fh-sitemap: "\e91e";
$fh-github: "\e91b";
$fh-search: "\e91a";
$fh-calendar: "\e919";
$fh-about: "\e900";
$fh-archive: "\e901";
$fh-cube: "\e902";
$fh-cubes: "\e903";
$fh-menu: "\e904";
$fh-ravelry: "\e905";
$fh-rss: "\e906";
$fh-tag: "\e907";
$fh-tags: "\e908";
$fh-pig: "\e909";
$fh-dog: "\e90a";
$fh-chicken: "\e90b";
$fh-monkey: "\e90c";
$fh-sheep: "\e90d";
$fh-horse: "\e90e";
$fh-snake: "\e90f";
$fh-loong: "\e910";
$fh-rabbit: "\e911";
$fh-tiger: "\e912";
$fh-cattle: "\e913";
$fh-rat: "\e914";
$fh-month: "\e915";
$fh-year: "\e916";
$fh-begin: "\e917";
$fh-end: "\e918";

