@font-face {
  font-family: 'font-hannah';
  src: url('#{$fh-font-path}/font-hannah.eot?aejozu');
  src: url('#{$fh-font-path}/font-hannah.eot?aejozu#iefix') format('embedded-opentype'),
  url('#{$fh-font-path}/font-hannah.ttf?aejozu') format('truetype'),
  url('#{$fh-font-path}/font-hannah.woff?aejozu') format('woff'),
  url('#{$fh-font-path}/font-hannah.svg?aejozu#font-hannah') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fh-"], [class*=" fh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-hannah' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fh {

  &.fh-document {
    &:before {
      content: $fh-document;
    }
  }

  &.fh-plug {
    &:before {
      content: $fh-plug;
    }
  }

  &.fh-sitemap {
    &:before {
      content: $fh-sitemap;
    }
  }

  &.fh-github {
    &:before {
      content: $fh-github;
    }
  }

  &.fh-search {
    &:before {
      content: $fh-search;
    }
  }

  &.fh-calendar {
    &:before {
      content: $fh-calendar;
    }
  }

  &.fh-about {
    &:before {
      content: $fh-about;
    }
  }

  &.fh-archive {
    &:before {
      content: $fh-archive;
    }
  }

  &.fh-cube {
    &:before {
      content: $fh-cube;
    }
  }

  &.fh-cubes {
    &:before {
      content: $fh-cubes;
    }
  }

  &.fh-menu {
    &:before {
      content: $fh-menu;
    }
  }

  &.fh-ravelry {
    &:before {
      content: $fh-ravelry;
    }
  }

  &.fh-rss {
    &:before {
      content: $fh-rss;
    }
  }

  &.fh-tag {
    &:before {
      content: $fh-tag;
    }
  }

  &.fh-tags {
    &:before {
      content: $fh-tags;
    }
  }

  &.fh-pig {
    &:before {
      content: $fh-pig;
    }
  }

  &.fh-dog {
    &:before {
      content: $fh-dog;
    }
  }

  &.fh-chicken {
    &:before {
      content: $fh-chicken;
    }
  }

  &.fh-monkey {
    &:before {
      content: $fh-monkey;
    }
  }

  &.fh-sheep {
    &:before {
      content: $fh-sheep;
    }
  }

  &.fh-horse {
    &:before {
      content: $fh-horse;
    }
  }

  &.fh-snake {
    &:before {
      content: $fh-snake;
    }
  }

  &.fh-loong {
    &:before {
      content: $fh-loong;
    }
  }

  &.fh-rabbit {
    &:before {
      content: $fh-rabbit;
    }
  }

  &.fh-tiger {
    &:before {
      content: $fh-tiger;
    }
  }

  &.fh-cattle {
    &:before {
      content: $fh-cattle;
    }
  }

  &.fh-rat {
    &:before {
      content: $fh-rat;
    }
  }

  &.fh-month {
    &:before {
      content: $fh-month;
    }
  }

  &.fh-year {
    &:before {
      content: $fh-year;
    }
  }

  &.fh-begin {
    &:before {
      content: $fh-begin;
    }
  }

  &.fh-end {
    &:before {
      content: $fh-end;
    }
  }
}

