@use "../mixins/function";
@use "../mixins/highlight";
@use "../mixins/variables";

// https://github.com/chriskempson/tomorrow-theme
pre, code {
  font-family: variables.$font-mono;
}

code {
  background: variables.$color-background;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}

pre {
  @include highlight.code-block;
  code {
    background: none;
    text-shadow: none;
    padding: 0;
  }
}

.highlight {
  border-radius: 10px;
  @include highlight.code-block;
  pre {
    border: none;
    margin: 0;
    padding: 0;
  }
  table {
    margin: 0px;
    width: auto;
    border: 0px;
  }
  td {
    border: none;
    padding: 0;
  }
  figcaption {
    @include function.clear-fixed;
    font-size: 0.85em;
    color: variables.$highlight-comment;
    line-height: 1em;
    margin-bottom: 1em;
    a {
      float: right;
    }
  }
  .gutter {
    width: 3%;
    pre {
      @include highlight.line-numbers;
      text-align: right;
      padding-right: 20px;
    }
  }
  .line {
    height: variables.$line-height;
  }
  .line.marked {
    background: variables.$highlight-selection;
  }
}

.gist {
  margin: 0 variables.$article-padding * -1;
  border-style: solid;
  border-color: variables.$color-border;
  border-width: 1px 0;
  background: variables.$highlight-background;
  padding: 15px variables.$article-padding 15px 0;
  .gist-file {
    border: none;
    font-family: variables.$font-mono;
    margin: 0;
    .gist-data {
      background: none;
      border: none;
      .line-numbers {
        @include highlight.line-numbers;
        background: none;
        border: none;
        padding: 0 20px 0 0;
      }
      .line-data {
        padding: 0 !important;
      }
    }
    .highlight {
      margin: 0;
      padding: 0;
      border: none;
    }
    .gist-meta {
      background: variables.$highlight-background;
      color: variables.$highlight-comment;
      font: 0.85em variables.$font-sans;
      text-shadow: 0 0;
      padding: 0;
      margin-top: 1em;
      margin-left: variables.$article-padding;
      a {
        color: variables.$color-link;
        font-weight: normal;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

pre {
  .comment, .title {
    color: variables.$highlight-comment;
  }
  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: variables.$highlight-red;
  }
  .number,
  .preprocessor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: variables.$highlight-orange;
  }
  .class,
  .ruby .class .title,
  .css .rules .attribute {
    color: variables.$highlight-green;
  }
  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata {
    color: variables.$highlight-green;
  }
  .css .hexcolor {
    color: variables.$highlight-aqua;
  }
  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: variables.$highlight-blue;
  }
  .keyword,
  .javascript .function {
    color: variables.$highlight-purple;
  }
}