.post {
  .post-title {
    border-bottom: $border-width double #c3c3c3;
  }
  .post-subtitle {
    margin-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #999;
    .item {
      margin-right: 8px;

      .tags {
        margin-right: 3px;
      }
    }
  }

  img {
    width: 100%;
    border-radius: 3%;
  }
}