@use "../mixins/function";
@use "../mixins/variables";

//
// Basic Bootstrap table
//

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: variables.$spacer;
  background-color: variables.$table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: variables.$table-cell-padding;
    vertical-align: top;
    border-top: variables.$table-border-width solid variables.$table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * variables.$table-border-width) solid variables.$table-border-color;
  }

  tbody + tbody {
    border-top: (2 * variables.$table-border-width) solid variables.$table-border-color;
  }

  table {
    background-color: variables.$body-bg;
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
table {
  border: variables.$table-border-width solid variables.$table-border-color;

  th,
  td {
    border: variables.$table-border-width solid variables.$table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * variables.$table-border-width);
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
table {
  tbody tr:nth-of-type(odd) {
    background-color: variables.$table-accent-bg;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping
table {
  tbody tr {
    @include function.hover {
      background-color: variables.$table-hover-bg;
    }
  }
}