@mixin timeLineClearBoth {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

$base-color: #f1ce8e !default;

$font-begin: "\e917" !default;
$font-end: "\e918" !default;

.time-line {
  position: relative;
  width: 100%;

  &:before, &:after {
    @include timeLineClearBoth;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background: $base-color;
  }

  .time-line-content {
    width: 50%;
    position: relative;
    //z-index: 1;
    min-height: 3em;

    &:after {
      content: "";
      width: 100%;
      height: 5px;
      background: $base-color;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: -1;
    }
    &:first-child {
      padding-top: 66px;

      .time-line-content-content {
        top: 5em;
      }
    }
    &:first-child:after {
      top: 66px;
    }

    &:last-child {
      padding-bottom: 88px;
    }
    &:last-child:after {
      bottom: 88px;
    }

    .time-line-content-circle {
      width: 8em;
      height: 8em;
      border-radius: 4em;
      background: white;
      border: 8px solid $base-color;
      position: relative;
      top: -4em;
      text-align: center;

      span {
        font-size: 5em;
      }
    }

    .time-line-content-title {
      position: relative;
      top: -6em;
      margin-left: 9em;
      margin-right: 1em;
      text-align: center;
      padding: 0.5em 0.25em;
      font-size: 2em;
      font-weight: bold;
    }

    .time-line-content-content {
      position: relative;
      width: 100%;
      top: -1em;
      padding-left: 8.3em;
    }

    &:nth-child(odd) {
      .time-line-content-title {
        width: 125%;
        margin-left: unset;
        margin-right: unset;;
      }

      .time-line-content-content {
        top: -9em;
      }
    }

    &:nth-child(even) {
      margin-left: 50%;
      .time-line-content-circle {
        right: 0px;
        position: absolute;
      }

      .time-line-content-title {
        top: -2em;
        width: 70%;
        margin-left: 1em;
        margin-right: 9em;
      }

      .time-line-content-content {
        padding-right: 8.3em;
        padding-left: 1em;
      }
    }
  }

  .time-line-content {
    .post-item {
      padding: 5px 3px;
      &:first-child {
        padding-top: 0px;
      }

      time {
        border-radius: 5px;
        background-color: $base-color;
        padding: 1px 2px;
        color: #fff;
        margin-right: 8px;
      }
    }
  }

}