.hannah-toc {
  list-style: none;
  position: fixed;
  right: 10px;
  top: 20%;
  padding: 10px;
  width: 16%;
  max-width: 16%;
  word-break: break-all;
  overflow-y: auto;
  height: 60%;

  * {
    color: #c0c0c0;
  }

  .hannah-toc-item {
    border-bottom: 1px dashed #3e3e3e;
    margin-bottom: 8px;
  }

  a:hover .hannah-toc-text {
    color: #23527c !important;
  }

  .hannah-toc-child {
    list-style: none;
    margin-left: -20px;
  }
}

@media (max-width: $xs-max-width) {
  .hannah-toc {
    display: none;
  }
}