$fh-font-path: "../fonts/font-hannah" !default;

$fh-month: "\e90c";
$fh-year: "\e90d";
$fh-begin: "\e90e";
$fh-end: "\e90f";
$fh-pig: "\e900";
$fh-dog: "\e901";
$fh-chicken: "\e902";
$fh-monkey: "\e903";
$fh-sheep: "\e904";
$fh-horse: "\e905";
$fh-snake: "\e906";
$fh-loong: "\e907";
$fh-rabbit: "\e908";
$fh-tiger: "\e909";
$fh-cattle: "\e90a";
$fh-rat: "\e90b";

