$fz-font-path: "../fonts/font-zodiac" !default;

$fz-pig: "\e900";
$fz-dog: "\e901";
$fz-chicken: "\e902";
$fz-monkey: "\e903";
$fz-sheep: "\e904";
$fz-horse: "\e905";
$fz-snake: "\e906";
$fz-loong: "\e907";
$fz-rabbit: "\e908";
$fz-tiger: "\e909";
$fz-cattle: "\e90a";
$fz-rat: "\e90b";

