<footer id="footer" class="footer animated fadeInUp hide">
    <p><i class="copy">&copy;</i> <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.author %></a> All Right Reserved.</p>
    <p>Powered by <a href="http://hexo.io" rel="external nofollow">Hexo</a>. Theme by <a href="https://github.com/objectyan/hexo-theme-hannah" rel="external nofollow">hannah</a></p>
</footer>