<footer id="footer" class="footer animated wobble">
    <p><i class="copy">&copy;</i> <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.author %></a> All Right Reserved.</p>
    <p>Powered by <a href="http://hexo.io">Hexo</a>. Theme by <a href="https://github.com/objectyan/hexo-theme-hannah">hannah</a></p>
</footer>