<div class="search">
    <i class="fh fh-search icon-search"></i>
    <input placeholder="Search ..." onkeyup="searchFunc(this,event,'<%- url_for('search.xml') %>')"
           class="input-search animated fadeInRight"/>
    <div class="search-result animated fadeInRight">
        <%- list_posts({
            amount: 15, style: "nolist", separator: "", class: "animated tada col-lg-12 search-result-item result"
        }) %>
    </div>
</div>