.search {
  position: relative;
  .icon-search {
    cursor: pointer;
  }

  .input-search {
    display: none;
    border-radius: 30px;
    border: 0px;
    padding: 0px 5px;
    outline: none;
  }

  .search-result {
    display: none;
    min-height: 300px;
    max-height: 300px;
    border: 1px dotted #cecece;
    border-radius: 8px;
    position: absolute;
    width: 130%;
    right: 0;
    background-color: #f9f9f9;
    z-index: 100;
    overflow-y: auto;

    .search-result-item {
      display: block;
      margin: 3px;
      color: #5f5f5f !important;
      border-bottom: 1px dotted #cecece;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &:hover {
    .icon-search {
      display: none;
    }

    .input-search, .search-result {
      display: block;
    }
  }
}