.archive-tag-cate {
  width: 100%;
  &.tag {
    .archive-tag-cate-link {
      background-color: #31b0d5;
      color: white;
    }
  }

  &.cate {
    .archive-tag-cate-link {
      background-color: #286090;
      color: white;
    }
  }
  .archive-tag-cate-link {
    margin: 10px;
    display: inline-block;
    border: 1px dotted #cecece;
    padding: 5px 5px;
    border-radius: 10px;

    .archive-tag-cate-count {
      background-color: #cccccc;
      color: white;
      margin-left: 5px;
      padding: 2px 4px;
      border-radius: 8px;
    }
  }
}