.bread-crumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 35px;
  border-bottom: .25em dotted #ccc;
  li {
    display: inline-block;
  }

  li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\003e";
  }
}